<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Agregar un nuevo usuario</h2></mat-card-title>
    <mat-card-subtitle>Agregue un director, agente de Recursos Humanos, etc.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="content-table">
    <table>
      <tr>
        <td>
          Nombre:
        </td>
        <td>
          <mat-form-field>
              <input matInput placeholder="Ingrese nombre" required>
          </mat-form-field>
        </td>
        <td>
          Usuario:
        </td>
        <td>
          <mat-form-field>
              <input matInput placeholder="Ingrese usuario" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          Direccion:
        </td>
        <td>
          <input type="text" placeholder="Selecciona una Direccion" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </td>
        <td>
          Privilegio:
        </td>
        <td>
          <mat-form-field>
              <input matInput placeholder="Ingrese privilegio" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
          <td>
            Contraseña:
          </td>
          <td>
            <mat-form-field>
                <input matInput placeholder="Ingrese contraseña" required [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </td>
          <td>
            Repita contaseña:
          </td>
          <td>
            <mat-form-field>
                <input matInput placeholder="Ingrese contraseña" required [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </td>
        </tr>
    </table>
  </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="onCloseCancel()">APLICAR</button>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
  </mat-card-actions>
</mat-card>