<mat-card>
    <mat-card-header>
      <mat-card-title><h2>{{data.name}}</h2></mat-card-title>
      <mat-card-subtitle>Cargar licencia medica</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-dialog-content>
          <table>
            <tr>
              <td>Tipo de licencia:</td>
              <td>
                  <mat-select required placeholder="Seleccione una opcion">
                      <mat-option>--</mat-option>
                      <mat-option value="Enfermedad">Enfermedad</mat-option>
                      <mat-option value="Enfermedad familiar">Enfermedad familiar</mat-option>
                  </mat-select>
              </td>
            </tr>
            <tr>
              <td>Inicia licencia:</td>
              <td>
                <mat-form-field>
                    <input matInput [matDatepicker]="inicioLicencia" disabled>
                    <mat-datepicker-toggle matSuffix [for]="inicioLicencia"></mat-datepicker-toggle>
                    <mat-datepicker #inicioLicencia disabled="false"></mat-datepicker>
                  </mat-form-field>
              </td>
              <td>Finaliza licencia:</td>
              <td>
                <mat-form-field>
                    <input matInput [matDatepicker]="finLicencia" disabled>
                    <mat-datepicker-toggle matSuffix [for]="finLicencia"></mat-datepicker-toggle>
                    <mat-datepicker #finLicencia disabled="false"></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Diagnostico:</td>
              <td>
                  <mat-select required placeholder="Seleccione una opcion">
                      <mat-option>--</mat-option>
                      <mat-option value="Traumatologica">Traumatologica</mat-option>
                      <mat-option value="Ofmatologica">Ofmatologica</mat-option>
                      <mat-option value="Psiquiatrica">Psiquiatrica</mat-option>
                      <mat-option value="Digestivo">Digestivo</mat-option>
                      <mat-option value="Odontologia">Odontologia</mat-option>
                  </mat-select>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                  <mat-form-field>
                    <textarea matInput placeholder="Detalles"></textarea>
                  </mat-form-field>
                </td>
            </tr>
          </table>
        </mat-dialog-content> 
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
    </mat-card-actions>
  </mat-card>