<div class="contenedor-principal">
    <h2>{{data.name}}</h2>
    <h4>Alertas sobre el agente</h4>
    <mat-dialog-content>
    El personal se encuentra con licencia medica desde 20/2/2018 hasta 23/2/2018
    <hr>
    <span class="info-adicional">Cualquier duda comunicarse con la Direccion General de Recursos Humanos al interno 1400</span>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
    </mat-dialog-actions>
  </div>
