.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }

  .mat-header-row{
    background-color: #e4e4e4;
  }

  
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}