<!--CONTENIDO DE BARRA HEADER-->
<mat-toolbar color="warn" class="mat-toolbar-header">
  <!--Buton de apertura y cierre de mat-sidenav-->
    <button class="hamburger" mat-button (click)="sidenav.toggle()" class="sidenav-icon">
      <mat-icon class="mat-icon">menu</mat-icon>
    </button>
  <!--Imagen de Angular-->
    <!-- <img src="assets/img/Ng.png"> -->
    {{direccion}}
    <span class="space-filler"></span>
    <!-- <app-dialog-busqueda class="{{cssEstado}}"></app-dialog-busqueda> -->
  <!--Buton de apertura y cierre de barra de busqueda-->
    <button mat-icon-button class="buscar-icon"  (click)="estadoBotonBusqueda(value)">
      <mat-icon>search</mat-icon>
    </button>
  
  </mat-toolbar>
  <!--FIN CONTENIDO DE BARRA HEADER-->
  
  <!--CONTENIDO DE SIDENAV IZQUIERDO-->
  <mat-sidenav-container class="mat-sidenav-container-close">
    <mat-sidenav #sidenav mode="over" opened="false" [fixedInViewport]="false" nofocus>
      <mat-toolbar class="user-info" color="warn">
      <!--Menu de Usuario-->
        <mat-toolbar-row>
          <button mat-icon-button [matMenuTriggerFor]="menuPersonal">
              <mat-icon>face</mat-icon>
              <span>Francisco Alvarado</span>
            </button>
            <mat-menu #menuPersonal="matMenu">
              <button mat-menu-item>
                  <mat-icon>fingerprint</mat-icon>
                  <span>Cambiar contraseña</span>
              </button>
              <button mat-menu-item>
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Salir</span>
              </button>
            </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <!--Fin de menu de Usuario-->
  
      <!--Opciones Sidenav-->
      <div class="vertical-menu">
          <!--Opciones acordeon-->
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Listado de Personal
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button (click)="sidenav.toggle()" routerLink="listado-material">Todos</button>
                </mat-action-row>
                <mat-action-row>
                    <button mat-button (click)="sidenav.toggle()" routerLink="listado-material/Becado">Becados</button>
                </mat-action-row>
                <mat-action-row>
                    <button mat-button (click)="sidenav.toggle()"routerLink="listado-material/Coordinado">Coordinados</button>
                </mat-action-row>
                <mat-action-row>
                    <button mat-button (click)="sidenav.toggle()" routerLink="listado-material/Planta Permanente">Planta Permanente</button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
         <!--Fin de opciones acordeon-->
          <!--Opciones individuales-->
          <a class="vertical-menu-item" (click)="sidenav.toggle()" routerLink="informacion-historica">
            <mat-icon>timeline</mat-icon>
            <span class="text-opcion">Registro Historico</span>
          </a>
          <a class="vertical-menu-item" (click)="sidenav.toggle()" routerLink="alertas">
            <mat-icon>new_releases</mat-icon>
            <span class="text-opcion">Alertas ({{cantAlertas}})</span>  
          </a>
        </div>
        <span class="divier-menu"></span>
    </mat-sidenav>
    <mat-sidenav-content>
        <section class="router-outlet-area"><router-outlet></router-outlet></section>
    </mat-sidenav-content>
  </mat-sidenav-container>