/*Header toolbar*/
.mat-toolbar-header{
    height: 10vh;
    position: fixed;
    top: 0px;
  }
  
  .sidenav-icon{
    margin-left: 1%;
    margin-right: 3%;
  }
  
  .buscar-icon{
    margin-right: 2%;
  }
  
  .matMenuBusqueda{
    max-width: auto;
  }
  
  /*Input busqueda*/
  .busquedaOculta{
    transition: all 2s ease-in;
    opacity: 0;
  }
  
  .busquedaVisible{
    transition: all 0.5s ease-in;
    opacity: 1;
  }
  
  /* CONTENERDOR PRINCIPAL */
  
  .mat-sidenav-container-close {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    }
  
  .space-filler {
    flex: 1 1 auto;
  }
  
  /* PANEL IZQUIEDO */
  mat-toolbar img {
    height: 45px;
    margin-right: 0.3em;
  }
  
  mat-action-row{
    padding: 0;
    height: 50px;
    background: #737373;
  }
  
  mat-action-row > .mat-button{
    min-width: 100%;
    min-height: 100%;
    color: white;
  }
  
  mat-sidenav {
    max-width: 230px;
    box-shadow: 3px 0 6px rbgba(0 , 0, 0, .24);
  }
  
  mat-toolbar {
    padding: 0;
  }
  
  mat-card {
    margin: 20px;
  }
  
  .vertical-menu-item{
    color: #737373;
    cursor: pointer;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    text-align: left;
    width: 92%;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
  }
  
  .vertical-menu-item mat-icon{
    font-size: 215;
  }
  
  .text-opcion{
    font-family: "Arial";
  }
  
  .vertical-menu-item .icon-menu{
    font-size: 18px;
    padding-right: 0.4em;
  }
  
  .vertical-menu-item:hover{
    background-color: #d6d6d6;
  }
  
  .divier-menu {
    fill: #737373;
    display: block;
    border-top: 1px solid;
    margin: 0;
    border-top-color: rgba(0,0,0,0.12);
  }
  
  /*Area de trabajo designado al router-outlet*/
  .router-outlet-area{
    background: none;
    width: 80%;
    height: 90%;
    position: relative;
    left: 10%;
    top: 5%;
  }