<div class="area-content">
  <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Administradores del personal</h2></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
  </mat-card>
  <div class="mat-elevation-z8 example-container">
    <mat-table #table [dataSource]="dataSource">


      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="usuario">
        <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.usuario}} </mat-cell>
      </ng-container>

      <!-- legajo Column -->
      <ng-container matColumnDef="legajo">
        <mat-header-cell *matHeaderCellDef> Legajo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.legajo}} </mat-cell>
      </ng-container>

      <!-- tipoContrato Column -->
      <ng-container matColumnDef="tipoPermiso">
        <mat-header-cell *matHeaderCellDef> Privilegio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipoPermiso}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [style.background]="row.color" ></mat-row>
    </mat-table>
    </div>
</div>