<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{data.name}}</h2></mat-card-title>
    <mat-card-subtitle>Cargar ART</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-dialog-content>
        <table>
          <tr>
            <td>Nro de siniestro:</td>
            <td>
              <mat-form-field>
                  <input matInput placeholder="Numero de siniestro" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Fecha de ingreso:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="fechaIngreso" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
                  <mat-datepicker #fechaIngreso disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
            <td>Fecha estimativa:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="fechaEstimativa" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaEstimativa"></mat-datepicker-toggle>
                  <mat-datepicker #fechaEstimativa disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Fecha de control:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="fechaControl" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaControl"></mat-datepicker-toggle>
                  <mat-datepicker #fechaControl disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <mat-form-field>
                <textarea matInput placeholder="Detalles"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-dialog-content> 
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
  </mat-card-actions>
</mat-card>