<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{data.name}}</h2></mat-card-title>
    <mat-card-subtitle>Cargar ART</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-dialog-content>
        <table>
          <tr>
            <td>Nro de siniestro:</td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Numero de siniestro" [formControl]="nroIncidente"  OnlyNumber="true" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nroIncidente.hasError('email') && !nroIncidente.hasError('required')">
                  Por favor, ingrese numeros
                </mat-error>
                <mat-error *ngIf="nroIncidente.hasError('required')">
                  Este campo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Fecha de ingreso:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="fechaIngreso" [(ngModel)]="inicioART" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
                  <mat-datepicker #fechaIngreso disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
            <td>Fecha estimativa:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="fechaEstimativa" [min]="inicioART" [(ngModel)]="finART" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaEstimativa"></mat-datepicker-toggle>
                  <mat-datepicker #fechaEstimativa disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Fecha de control:</td>
            <td>
              <mat-form-field>
                  <input matInput [min]="inicioART" [max]="finART" [matDatepicker]="fechaControl" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaControl"></mat-datepicker-toggle>
                  <mat-datepicker #fechaControl disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <mat-form-field>
                <textarea matInput placeholder="Detalles"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-dialog-content> 
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
  </mat-card-actions>
</mat-card>