<mat-tab-group class="demo-tab-group">
  <mat-tab label="General">
    <h2 mat-dialog-title>Datos</h2>
    <div class="demo-tab-content">
      <p>
        Nombre:
        <mat-form-field><input matInput value="Sushi"></mat-form-field>
      </p>
      <p>
        Legajo: 
        <mat-form-field><input matInput value="Sushi"></mat-form-field>
      </p>
      <p>
        Area: 
      <mat-form-field><input matInput value="Sushi"></mat-form-field>
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Usuario">
    <h2 mat-dialog-title>Usuario</h2>
    <div class="demo-tab-content">
      <p>Usuario: Patricio</p>
      <p>Acceso al sistema: Patricio</p>
      <p>Privilegio: Patricio</p>
    </div>
  </mat-tab>
</mat-tab-group>

<mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onCloseConfirm()">APLICAR</button>
  <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
</mat-dialog-actions>