.contenedor-outlet{
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 10px 10px #888888;
}
  .example-header {
    height: 16%;
    background-color: #e4e4e4;
    padding: 4px 24px 8px;
  }
    .title-header{
      color: rgb(83, 83, 83);
      font-size: 28px;
      text-align: center;
      width: 100%;
      margin-top: 1%;
      position: relative;
    }


  .example-container {
    display: flex;
    flex-direction: column;
    height: 82%;
    box-shadow: none;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 700px;
    box-shadow: none;
    
  }

  .mat-column-position{
    max-width: 50px;
  }

  .input-mat{
    width: 25%;
    left: 75%;
    position: relative;
  }

  ng-container{
    padding: 0%;

  }

  .mat-row, .mat-header-row {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0px, 5px, 0px, 5px;
    width: 100%;
}

.mat-header-row{
  background-color: #e4e4e4;
}
