<div class="area-content">
  <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Notificaciones sobre el personal</h2></mat-card-title>
        <mat-card-subtitle>Informacion actualizada al dia de la fecha</mat-card-subtitle>
      </mat-card-header>
  </mat-card>
  <div class="mat-elevation-z8 example-container">
    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position" >
        <mat-header-cell *matHeaderCellDef> Nro. </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- legajo Column -->
      <ng-container matColumnDef="legajo">
        <mat-header-cell *matHeaderCellDef> Legajo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.legajo}} </mat-cell>
      </ng-container>

      <!-- tipoContrato Column -->
      <ng-container matColumnDef="tipoContrato">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipoContrato}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [style.background]="row.color" ></mat-row>
    </mat-table>
    </div>
</div>

