<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{data.name}}</h2></mat-card-title>
    <mat-card-subtitle>Carga de licencia anual</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-dialog-content>
        <table>
          <tr>
            <td>Fecha de salida:</td>
            <td>
              <mat-form-field>
                  <input matInput [matDatepickerFilter]="myFilterSalida" [matDatepicker]="fechaSalida" [(ngModel)]="minDate" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaSalida"></mat-datepicker-toggle>
                  <mat-datepicker #fechaSalida disabled="false"></mat-datepicker>
                </mat-form-field>
            </td>
            <td>Fecha de regreso:</td>
            <td>
              <mat-form-field>
                  <input matInput [min]="minDate" [matDatepickerFilter]="myFilterVuelta" [matDatepicker]="fechaRegreso" disabled>
                  <mat-datepicker-toggle matSuffix [for]="fechaRegreso"></mat-datepicker-toggle>
                  <mat-datepicker #fechaRegreso disabled="false"></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="4">
                <mat-form-field>
                  <textarea matInput placeholder="Detalles"></textarea>
                </mat-form-field>
              </td>
          </tr>
        </table>
      </mat-dialog-content> 
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="onCloseConfirm()">CONFIRMAR</button>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
  </mat-card-actions>
</mat-card>