<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{data.name}}</h2></mat-card-title>
    <mat-card-subtitle>Carga de licencia anual</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-dialog-content>
        <table>
          <tr>
            <td>Fecha de salida:</td>
            <td>
              <mat-form-field>
                  <input matInput required>
              </mat-form-field>
            </td>
            <td>Fecha de regreso:</td>
            <td>
              <mat-form-field>
                  <input matInput required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Detalles:</td>
            <td colspan="3">
              <mat-form-field>
                  <input matInput required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-dialog-content> 
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button (click)="onCloseCancel()">SALIR</button>
  </mat-card-actions>
</mat-card>